/* css resetter */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/* actually css starts here */
html {
	font-family: sans-serif;
	background-color: #333;
}

body {
	color: #333;
	background: #333;
}

a:link, a:visited {
    color: #ccc;
    text-decoration: none;
}

a:active, a:hover {
    color: #fff;
    text-decoration: underline;
}

#gbwrapper {
	padding:30px;
	background-color: whiteSmoke;
}

h1 {
	color: white;
	font-size: 2em;
	padding: 30px 30px 0 30px;
}

label {
	display: block;
	font-size: 0.8em;
	margin-top: 1em;
}

.button{
	display: block;
}

.box {
    position: relative;
    border: 3px solid #222;
    background: #666;
    color: #fff;
    width: 500px;
    padding: 10px;
    margin: 15px 30px;
}

.box div#caption {
    position: absolute;
    top: -4px;
    right: -3px;
    color: #222;
    font-size: 30px;
}

div#usercp form {
    display: inline-block;
}

form#newEntry {
	border-left:4px solid orange;
	padding-left: 10px;
}

#entries > div {
	border-left: 5px solid #444;
	padding-left: 10px;
	margin-bottom:10px;
}

#entries > div:nth-child(even) {
	border-color: #888;
}

.time {
	color: #888;
	font-size: 0.7em;
	line-height: 1.2em;
}

.text {
	display: block;
	border: 1px dashed silver;
	width: 500px;
	padding: 3px;
	background-color: white;
}
